<mat-form-field fxFlex="100">
  <mat-label>
    {{label}}
  </mat-label>
  <mat-select (ngModelChange)="inputSelectModelChange.emit($event)"
              [ngModel]="inputSelectModel"
              [required]="required"
              #input="ngModel"
              [name]="name">
    <mat-option>
      -
    </mat-option>
    <mat-option *ngFor="let i of array"
                [value]="i">
      {{i}}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="!input.valid && input.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

