<mat-form-field fxFlex="100">
  <textarea
    [formControl]="formControl"
    [placeholder]="placeholder"
    [required]="required"
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    cdkTextareaAutosize
    matInput
  >
  </textarea>
  <button
    matSuffix
    mat-button
    mat-icon-button
    aria-label="Clear"
    *ngIf="formControl?.value"
    (click)="formControl?.reset('')"
  >
    <mat-icon>close</mat-icon>
  </button>

  <mat-error *ngIf="formControl?.invalid">
    გთხოვთ შეავსოთ ველი
  </mat-error>
</mat-form-field>
