<button mat-button [matMenuTriggerFor]="languages" id="tools-button"
        class="overflow-hidden padding-x-2">

  <img src="./assets/images/content/languages/ge.svg" alt="" class="margin-right-2" *ngIf="localeId=='ka'">
  <span *ngIf="localeId=='ka'">KA</span>

  <img src="./assets/images/content/languages/us.svg" alt="" class="margin-right-2" *ngIf="localeId=='en'">
  <span *ngIf="localeId=='en'">EN</span>

</button>

<mat-menu #languages="matMenu">
  <app-language-menu></app-language-menu>
</mat-menu>
