<mat-form-field fxFlex="100">
                    <textarea
                      matInput
                      [placeholder]="placeholder"
                      [(ngModel)]="inputTextAreaModel"
                      (ngModelChange)="inputTextAreaModelChange.emit(inputTextAreaModel)"
                      [required]="required"
                      [name]="name"
                      #input="ngModel"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                    >
                    </textarea>

  <mat-error *ngIf="!input.valid && input.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

