<mat-form-field fxFlex="100">
                    <textarea matInput
                              [placeholder]="placeholder"
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              required
                              [(ngModel)]="inputModel"
                              (ngModelChange)="inputModelChange.emit(inputModel)"
                    >
                    </textarea>
  <mat-hint align="start">
    <strong>{{hintText}}</strong>
  </mat-hint>
</mat-form-field>
