.search-wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;


  input {
    font-family: bpg_glaho, serif;
    background: transparent;
    color: white;
    border: none;
    padding: 0;
    outline: none;
    font-size: 14px;
    vertical-align: text-bottom;
  }

  ::placeholder {
    color: white;
  }

  mat-icon {
    //position: absolute;
    z-index: 9999;
    font-size: 28px;
    top: 6px;
    left: 10px;
  }

}
