.image-list {
  .image-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }
}

.chosen-image {
  img {
    width: 100%;
  }
}
