<mat-list>
  <mat-list-item routerLink="profile">
    <mat-icon class="margin-right-2">account_circle</mat-icon>
    <p class="mtavruli">პროფილი</p>
  </mat-list-item>
  <mat-list-item routerLink="address">
    <mat-icon class="margin-right-2">location_on</mat-icon>
    <p class="mtavruli">მისამართი</p>
  </mat-list-item>
  <mat-list-item routerLink="order-history">
    <mat-icon class="margin-right-2">history</mat-icon>
    <p class="mtavruli">შეკვეთების სია</p>
  </mat-list-item>
  <!--  <mat-list-item routerLink="order-history">-->
  <!--    <mat-icon class="margin-right-2">local_post_office</mat-icon>-->
  <!--    <p class="mtavruli">შეტყობინებები</p>-->
  <!--  </mat-list-item>-->
  <mat-list-item routerLink="/home">
    <mat-icon class="margin-right-2">power_settings_new</mat-icon>
    <p class="mtavruli">გამოსვლა</p>
  </mat-list-item>
</mat-list>
