<app-page-title-bar title="პუბლიკაციები" i18n-title="@@publications"></app-page-title-bar>
<app-layout-container>
  <div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">შევიცნოთ მომხმარებელი</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/1.png" alt="შევიცნოთ მომხმარებელი">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ბიზნეს-გეგმის სახელმძღვანელო</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/2.png" alt="ბიზნეს-გეგმის სახელმძღვანელო">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">თქვენი მანერების შესახებ</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/3.png" alt="თქვენი მანერების შესახებ">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">როგორ დავიწყოთ</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/4.png" alt="როგორ დავიწყოთ">
      </mat-card>
    </div>
  </div>
  <div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ბიზნესი არაბიზნესის სპეციალობის სტუდენტებისთვისთ</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/5.png"
             alt="ბიზნესი არაბიზნესის სპეციალობის სტუდენტებისთვის">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">პროფესიონალი მდივანი</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/6.png" alt="პროფესიონალი მდივანი">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">პროფესიონალი მდივანი</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/7.png" alt="პროფესიონალი მდივანი">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ქალი და ეკონომიკა</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/8.jpg" alt="ქალი და ეკონომიკა">
      </mat-card>
    </div>
  </div>
  <div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">როგორ შევადგინოთ ბიზნეს-გეგმა</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/9.jpg" alt="როგორ შევადგინოთ ბიზნეს-გეგმა">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ზრდასრულთა განათლება საქართველოში
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/10.jpg" alt="ზრდასრულთა განათლება საქართველოში">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">უცხოეთის ქვეყნების ეროვნული საინოვაციო სისტემები</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/11.jpg" alt="უცხოეთის ქვეყნების ეროვნული საინოვაციო სისტემები
">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">საქართველოს კომპანიები</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/12.jpg" alt="საქართველოს კომპანიები">
      </mat-card>
    </div>
  </div>
  <div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">საქართველოს კომპანიები</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/13.png" alt="საქართველოს კომპანიები">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">საქართველოს კომპანიები</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/14.jpg" alt="საქართველოს კომპანიები">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">საქართველოს საკანონმდებლო აქტები</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/15.jpg" alt="საქართველოს საკანონმდებლო აქტები">
      </mat-card>
    </div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ინოვაციური საქართველო: მიმდინარე სტატუსი</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/16.jpg" alt="ინოვაციური საქართველო: მიმდინარე სტატუსი">
      </mat-card>
    </div>


  </div>
  <div>
    <div class="padding-3" fxFlex="25">
      <mat-card class="padding-bottom-0 animate-3 box-shadow-h-1">
        <mat-card-header>
          <mat-card-title class="mtavruli">ჯანსაღი კვების სწავლება დაწყებით სკოლებში</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="./assets/images/publications/17.jpg" alt="ჯანსაღი კვების სწავლება დაწყებით სკოლებში">
      </mat-card>
    </div>
  </div>
</app-layout-container>
