<div class="sidenav-wrapper">

  <div>
    <button mat-button fxFlex="100" fxLayoutAlign="start" i18n="@@scientists_experts" routerLink="/home">
      მთავარი
    </button>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel fxFlex="100" class="mat-elevation-z0">
        <mat-expansion-panel-header class="padding-left-3">
          <mat-panel-title class="mtavruli" i18n="@@georgian_scientific_publications">
            საქართველოს სამეცნიერო პუბლიკაციები
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item routerLink="/qrjPublications/qrj-publications">გამოცემები</button>
        <button mat-menu-item routerLink="/qrjPublications/qrj-journals">ქართულ რეფერატულ ჟურნალში ასახული სამეცნიერო
          გამოცემების
          ჩამონათვალი
        </button>
        <button mat-menu-item i18n="@@qrj" routerLink="/qrjPublications/qrj">ქართული რეფერატული ჟურნალი</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <button mat-button fxFlex="100" fxLayoutAlign="start" i18n="@@research_projects" routerLink="/research_projects">
      სამეცნიერო-კვლევითი
      პროექტები
    </button>
  </div>

  <div>
    <button mat-button fxFlex="100" fxLayoutAlign="start" i18n="@@scientists_experts" routerLink="/scientists_experts">
      მეცნიერები/ექსპერტები
    </button>
  </div>

  <div>
    <mat-accordion>
      <mat-expansion-panel fxFlex="100" class="mat-elevation-z0">
        <mat-expansion-panel-header class="padding-left-3">
          <mat-panel-title class="mtavruli" i18n="@@technology_transfer_centers">
            ტექნოლოგიის ტრანსფერის ცენტრები
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item i18n="@@technology_transfer_networks"
                routerLink="/technology_transfer_centers/technology_transfer_networks">
          ტექნოლოგიის ტრანსფერის ქსელები
        </button>
        <button mat-menu-item i18n="@@technology_transfer_and_innovation_organizations"
                routerLink="/technology_transfer_centers/technology_transfer_and_innovation_organizations">ტექნოლოგიის
          ტრანსფერის და ინოვაციების
          ხელშემწყობი ორგანიზაციები
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <button mat-button fxFlex="100" fxLayoutAlign="start" i18n="@@scientists_experts" routerLink="/oecd">
      სამეცნიერო მიმართულება (OECD)
    </button>
  </div>

  <div>
    <button mat-button fxFlex="100" fxLayoutAlign="start" i18n="@@scientists_experts" routerLink="/news" i18n="@@news">
      სიახლეები
    </button>
  </div>

</div>
