<custom-dialog>
  <div title>ახალი ჟურნალის დამატება</div>
  <div content>
    <form #myForm="ngForm" novalidate>
      <div fxLayout fxLayoutGap="16px">
        <input-text
          fxFlex
          placeholder="ინდექსი"
          i18n-placeholder="@@index"
          [(inputModel)]="qrjPublication.index"
          name="index"
        ></input-text>
        <input-text fxFlex placeholder="კლასიფიკატორი (OECD)"></input-text>
      </div>
      <input-text placeholder="ჟურნალის დასახელება"></input-text>
      <div fxLayout fxLayoutGap="16px">
        <input-text fxFlex placeholder="წელი"></input-text>
        <input-text fxFlex placeholder="ნომერი"></input-text>
        <input-text fxFlex placeholder="გვერდები"></input-text>
      </div>
      <mat-tab-group>
        <mat-tab label="ქართული">
          <input-text placeholder="სათაური"></input-text>
          <input-text placeholder="ავტორი"></input-text>
          <input-text placeholder="ენები"></input-text>
          <input-text placeholder="რეფერატი"></input-text>
          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="სათაური"-->
          <!--            name="title"-->
          <!--            [inputModel]="qrjPublication.translation[0]?.title"-->
          <!--            (inputModelChange)="qrjPublication.translation[0].title = $event"-->
          <!--          ></input-text>-->

          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="ავტორი"-->
          <!--            name="publicationAuthor"-->
          <!--            [inputModel]="qrjPublication.translation[0]?.publicationAuthor"-->
          <!--            (inputModelChange)="-->
          <!--              qrjPublication.translation[0].publicationAuthor = $event-->
          <!--            "-->
          <!--          ></input-text>-->

          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="ენები"-->
          <!--            name="publicationLang"-->
          <!--            [inputModel]="qrjPublication.translation[0]?.publicationLang"-->
          <!--            (inputModelChange)="-->
          <!--              qrjPublication.translation[0].publicationLang = $event-->
          <!--            "-->
          <!--          ></input-text>-->

          <!--          <input-text-area-->
          <!--            fxFlex="100"-->
          <!--            placeholder="რეფერატი"-->
          <!--            name="abstract"-->
          <!--            [inputTextAreaModel]="qrjPublication.translation[0]?.abstract"-->
          <!--            (inputTextAreaModelChange)="-->
          <!--              qrjPublication.translation[0].abstract = $event-->
          <!--            "-->
          <!--          ></input-text-area>-->
        </mat-tab>

        <mat-tab label="English">
          <input-text placeholder="სათაური"></input-text>
          <input-text placeholder="ავტორი"></input-text>
          <input-text placeholder="ენები"></input-text>
          <input-text placeholder="რეფერატი"></input-text>
          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="Title"-->
          <!--            name="titleEng"-->
          <!--            [inputModel]="qrjPublication.translation[1]?.title"-->
          <!--            (inputModelChange)="qrjPublication.translation[1].title = $event"-->
          <!--          ></input-text>-->

          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="Author"-->
          <!--            name="publicationAuthorEng"-->
          <!--            [inputModel]="qrjPublication.translation[1]?.publicationAuthor"-->
          <!--            (inputModelChange)="-->
          <!--              qrjPublication.translation[1].publicationAuthor = $event-->
          <!--            "-->
          <!--          ></input-text>-->

          <!--          <input-text-->
          <!--            fxFlex="100"-->
          <!--            placeholder="Languages"-->
          <!--            name="publicationLangEng"-->
          <!--            [inputModel]="qrjPublication.translation[1]?.publicationLang"-->
          <!--            (inputModelChange)="-->
          <!--              qrjPublication.translation[1].publicationLang = $event-->
          <!--            "-->
          <!--          ></input-text>-->

          <!--          <input-text-area-->
          <!--            fxFlex="100"-->
          <!--            placeholder="Abstract"-->
          <!--            name="abstractEng"-->
          <!--            [inputTextAreaModel]="qrjPublication.translation[1]?.abstract"-->
          <!--            (inputTextAreaModelChange)="-->
          <!--              qrjPublication.translation[1].abstract = $event-->
          <!--            "-->
          <!--          ></input-text-area>-->
        </mat-tab>
      </mat-tab-group>
      <!--      <div class="overflow-auto publication-input-wrapper">-->
      <!--        <input-text-->
      <!--          fxFlex="50"-->
      <!--          class="margin-right-2"-->
      <!--          placeholder="ინდექსი"-->
      <!--          name="index"-->
      <!--          [(inputModel)]="qrjPublication.index"-->
      <!--        ></input-text>-->

      <!--        &lt;!&ndash;        <app-input-auto-complete&ndash;&gt;-->
      <!--        &lt;!&ndash;          listName="oecds"&ndash;&gt;-->
      <!--        &lt;!&ndash;          fxFlex="50"&ndash;&gt;-->
      <!--        &lt;!&ndash;          class="margin-left-2"&ndash;&gt;-->
      <!--        &lt;!&ndash;          name="oecd"&ndash;&gt;-->
      <!--        &lt;!&ndash;          placeholder="კლასიფიკატორი (OECD)"&ndash;&gt;-->
      <!--        &lt;!&ndash;          [inputModel]="qrjPublication.oecd"&ndash;&gt;-->
      <!--        &lt;!&ndash;          (inputModelChange)="qrjPublication.oecd = $event"&ndash;&gt;-->
      <!--        &lt;!&ndash;          [list]="oecdList"&ndash;&gt;-->
      <!--        &lt;!&ndash;        >&ndash;&gt;-->
      <!--        &lt;!&ndash;        </app-input-auto-complete>&ndash;&gt;-->
      <!--      </div>-->

      <!--      <div>-->
      <!--        &lt;!&ndash;        <app-input-auto-complete&ndash;&gt;-->
      <!--        &lt;!&ndash;          listName="qrjJournals"&ndash;&gt;-->
      <!--        &lt;!&ndash;          class="margin-right-2"&ndash;&gt;-->
      <!--        &lt;!&ndash;          name="oecd"&ndash;&gt;-->
      <!--        &lt;!&ndash;          placeholder="ჟურნალის დასახელება"&ndash;&gt;-->
      <!--        &lt;!&ndash;          [inputModel]="qrjPublication.journal"&ndash;&gt;-->
      <!--        &lt;!&ndash;          (inputModelChange)="qrjPublication.journal = $event"&ndash;&gt;-->
      <!--        &lt;!&ndash;          [list]="qrjJournalList"&ndash;&gt;-->
      <!--        &lt;!&ndash;        >&ndash;&gt;-->
      <!--        &lt;!&ndash;        </app-input-auto-complete>&ndash;&gt;-->
      <!--      </div>-->

      <!--      <div>-->
      <!--        <input-select-->
      <!--          fxFlex="50"-->
      <!--          class="margin-left-2"-->
      <!--          label="წელი"-->
      <!--          [array]="arrayThree(25, 2000)"-->
      <!--          name="year"-->
      <!--          [inputSelectModel]="qrjPublication.year"-->
      <!--          (inputSelectModelChange)="qrjPublication.year = $event"-->
      <!--        >-->
      <!--        </input-select>-->

      <!--        <input-text-->
      <!--          fxFlex="50"-->
      <!--          class="margin-right-2"-->
      <!--          placeholder="ნომერი"-->
      <!--          name="number"-->
      <!--          [(inputModel)]="qrjPublication.number"-->
      <!--        ></input-text>-->

      <!--        <input-text-->
      <!--          fxFlex="50"-->
      <!--          class="margin-left-2"-->
      <!--          placeholder="გვერდები"-->
      <!--          name="pages"-->
      <!--          [(inputModel)]="qrjPublication.pages"-->
      <!--        ></input-text>-->
      <!--      </div>-->

      <!--      <div class="margin-top-2">-->
      <!--        <mat-tab-group>-->
      <!--          <mat-tab label="ქართული">-->
      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="სათაური"-->
      <!--                name="title"-->
      <!--                [inputModel]="qrjPublication.translation[0]?.title"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[0].title = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="ავტორი"-->
      <!--                name="publicationAuthor"-->
      <!--                [inputModel]="qrjPublication.translation[0]?.publicationAuthor"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[0].publicationAuthor = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="ენები"-->
      <!--                name="publicationLang"-->
      <!--                [inputModel]="qrjPublication.translation[0]?.publicationLang"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[0].publicationLang = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-area-->
      <!--                fxFlex="100"-->
      <!--                placeholder="რეფერატი"-->
      <!--                name="abstract"-->
      <!--                [inputTextAreaModel]="qrjPublication.translation[0]?.abstract"-->
      <!--                (inputTextAreaModelChange)="-->
      <!--                  qrjPublication.translation[0].abstract = $event-->
      <!--                "-->
      <!--              ></input-text-area>-->
      <!--            </div>-->
      <!--          </mat-tab>-->

      <!--          <mat-tab label="English">-->
      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="Title"-->
      <!--                name="titleEng"-->
      <!--                [inputModel]="qrjPublication.translation[1]?.title"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[1].title = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="Author"-->
      <!--                name="publicationAuthorEng"-->
      <!--                [inputModel]="qrjPublication.translation[1]?.publicationAuthor"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[1].publicationAuthor = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-->
      <!--                fxFlex="100"-->
      <!--                placeholder="Languages"-->
      <!--                name="publicationLangEng"-->
      <!--                [inputModel]="qrjPublication.translation[1]?.publicationLang"-->
      <!--                (inputModelChange)="-->
      <!--                  qrjPublication.translation[1].publicationLang = $event-->
      <!--                "-->
      <!--              ></input-text>-->
      <!--            </div>-->

      <!--            <div>-->
      <!--              <input-text-area-->
      <!--                fxFlex="100"-->
      <!--                placeholder="Abstract"-->
      <!--                name="abstractEng"-->
      <!--                [inputTextAreaModel]="qrjPublication.translation[1]?.abstract"-->
      <!--                (inputTextAreaModelChange)="-->
      <!--                  qrjPublication.translation[1].abstract = $event-->
      <!--                "-->
      <!--              ></input-text-area>-->
      <!--            </div>-->
      <!--          </mat-tab>-->
      <!--        </mat-tab-group>-->
      <!--      </div>-->
    </form>
  </div>
  <div actions>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!showCreate"
      (click)="update()"
      [disabled]="!myForm.valid"
    >
      შენახვა
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      *ngIf="showCreate"
      (click)="create()"
      [disabled]="!myForm.valid"
    >
      დამატება
    </button>
  </div>
</custom-dialog>
