<layout-container layoutGap="16px">
  <button
    fxFlex
    mat-raised-button
    i18n="@@georgian_scientific_publications"
    routerLink="/qrj-publications"
  >
    საქართველოს სამეცნიერო პუბლიკაციები
  </button>
  <button fxFlex mat-raised-button i18n="@@depositeds" routerLink="/depositeds">
    დეპონირებული
  </button>
  <button
    fxFlex
    mat-raised-button
    i18n="@@research_projects"
    routerLink="/research_projects"
  >
    სამეცნიერო-კვლევითი პროექტები
  </button>
  <button
    fxFlex
    mat-raised-button
    i18n="@@scientists_experts"
    routerLink="/scientists_experts"
  >
    მეცნიერები/ექსპერტები
  </button>
  <button
    fxFlex
    mat-raised-button
    i18n="@@technology_transfer_centers"
    routerLink="/technology_transfer_centers"
  >
    ტექნოლოგიის ტრანსფერის ცენტრები
  </button>
  <button fxFlex mat-raised-button routerLink="/oecd">
    სამეცნიერო მიმართულება (OECD)
  </button>
  <button fxFlex mat-raised-button i18n="@@news" routerLink="/news">
    სიახლეები
  </button>
</layout-container>
