<app-layout-container [flexWidth]="100">
  <app-page-title-bar title="ქართული რეფერატული ჟურნალი"></app-page-title-bar>
  <app-crud-basic
    [length]="countQrjs$"
    [create_update_dialog_component]="QrjUpdateCreateDialogComponent"
    [delete_dialog_component]="QrjDeleteDialogComponent"
    [list]="qrjs$"
    [schema]="
      {
        header:'year',
        nested:{title:'pubNumber',name:'journal'}
      }"
    [loadState]="LoadQrjs"
    [getSingleItemState]="GetQrj"
    [countState]="CountQrjs"
  >
  </app-crud-basic>
</app-layout-container>
