<div>
  <app-page-title-bar title="ტექნოლოგიის ტრანსფერის ქსელები"
                      i18n-title="@@technology_transfer_networks"></app-page-title-bar>
  <app-crud-basic
    [length]="countQrjPublications$"
    [create_update_dialog_component]="QrjPublicationDialogComponent"
    [delete_dialog_component]="DeleteQrjPublicationDialogComponent"
    [list]="qrjPublications$"
    [schema]="
      {
        header:'index',
        title:'title',
        description:'abstract'
      }"
    [loadState]="LoadQrjPublications"
    [getSingleItemState]="GetQrjPublication"
    [countState]="CountQrjPublications"
  >
  </app-crud-basic>

</div>
