<div>
  <h2 class="mtavruli" i18n="@@news">სიახლეები</h2>

  <mat-divider></mat-divider>

  <div fxLayout="column" class="margin-top-3">
    <div fxFlex="100"
         class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3 cursor-pointer">
      <h3 class="mtavruli">საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი</h3>
      <p class="color-gray">ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის</p>
    </div>
    <div fxFlex="100"
         class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3">
      <h3 class="mtavruli">საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი</h3>
      <p class="color-gray">ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის</p>
    </div>
    <div fxFlex="100"
         class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3">
      <h3 class="mtavruli">საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი</h3>
      <p class="color-gray">ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის</p>
    </div>
    <div fxFlex="100"
         class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3">
      <h3 class="mtavruli">საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი</h3>
      <p class="color-gray">ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის</p>
    </div>

  </div>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 (page)="pageEvent = $event">
  </mat-paginator>
</div>
