<mat-form-field fxFlex="100">
  <input
    [placeholder]="placeholder"
    matInput
    [name]="name"
    [required]="required"
    [formControl]="inputControl"
    [matAutocomplete]="inputAuto"
  >
  <mat-autocomplete
      #inputAuto="matAutocomplete"
      (optionSelected)="inputModelChange.emit($event.option.value)"
      [displayWith]="displayFn"
  >
    <mat-option
      *ngFor="let item of filteredInputOptions | async"
      [value]="item"
    >
      {{item['translation'][0]['name']}}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="!inputControl.valid && inputControl.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

<!--<mat-form-field fxFlex="100">-->
<!--  <input-->
<!--    [placeholder]="placeholder"-->
<!--    matInput-->
<!--    [name]="name"-->
<!--    [required]="required"-->
<!--    [formControl]="inputControl"-->
<!--    [(ngModel)]="inputModel"-->
<!--    (ngModelChange)="inputModelChange.emit(inputModel)"-->
<!--    [matAutocomplete]="inputAuto"-->
<!--  >-->

<!--  <mat-autocomplete-->
<!--      #inputAuto="matAutocomplete"-->
<!--  >-->
<!--    <mat-option-->
<!--      *ngFor="let item of filteredInputOptions | async"-->
<!--      [value]="item['code']"-->
<!--    >-->
<!--      {{item['code']}} - {{item['translation'][0]['name']}}-->
<!--    </mat-option>-->
<!--  </mat-autocomplete>-->

<!--  <mat-error *ngIf="!inputControl.valid && inputControl.touched">-->
<!--    გთხოვთ შეავსოთ ველი-->
<!--  </mat-error>-->

<!--</mat-form-field>-->

