<app-layout-container [flexWidth]="100">
  <app-page-title-bar
    title="ქართულ რეფერატულ ჟურნალში ასახული სამეცნიერო გამოცემების ჩამონათვალი "></app-page-title-bar>
  <app-crud-basic
    [length]="countQrjJournals$"
    [create_update_dialog_component]="QrjJournalUpdateCreateDialogComponent"
    [delete_dialog_component]="QrjJournalDeleteDialogComponent"
    [list]="qrjJournals$"
    [schema]="
      {
        header:'code',
        title:'name'
      }"
    [loadState]="LoadQrjJournals"
    [getSingleItemState]="GetQrjJournal"
    [countState]="CountQrjJournals"
  >
  </app-crud-basic>
</app-layout-container>
