<div>
  <app-page-title-bar title="გამოცემები" i18n-title="@@publications"></app-page-title-bar>

  <div class="padding-5 padding-top-0">
    <div class="margin-bottom-5">
      <div fxLayoutAlign="start" fxFlex="100" fxFlexAlign="end">
        <button mat-raised-button color="primary" style="height: auto !important;" (click)="createQrjPublication()">
          ახლის
          დამატება
        </button>
      </div>
      <div fxLayoutAlign="end" fxFlex="100">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="ძიება..." [(ngModel)]="searchText" (keyup)="searchQrjPublication()">
          <mat-hint align="start"><strong>ჩაწერეთ საძიებო სიტყვა</strong></mat-hint>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>


  <div class="flex-wrapper">
    <div *ngFor="let pub of qrjPublications$ | async"
         class="publication-wrapper mat-elevation-z1 padding-2 padding-bottom-5 padding-top-0 border-radius-1">
      <div>
        <div class="index-wrapper" fxLayoutAlign="start" fxFlex="100">
          <h3>{{pub?.index}}</h3>
        </div>
        <div fxLayoutAlign="end" fxFlex="100">
          <button mat-icon-button color="primary" fxFlexAlign="center" (click)="updateQrjPublication(pub.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" fxFlexAlign="center" (click)="deleteQrjPublication(pub.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <h4>
        {{pub?.translation[0]?.title?.length > 50 ? pub?.translation[0]?.title.substr(0, 50) + '...' : pub?.translation[0]?.title}}
      </h4>
      <p>
        {{ pub?.translation[0]?.abstract.length > 100 ? pub?.translation[0]?.abstract.substr(0, 100) + '...' : pub?.translation[0]?.abstract}}
      </p>
    </div>
  </div>

  <mat-paginator [length]="countQrjPublications$ | async"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[8, 20, 50, 100]"
                 (page)="pageChanged($event)"
  >
  </mat-paginator>

</div>
