<div>
  <app-page-title-bar title="გამოცემები" i18n-title="@@publications"></app-page-title-bar>

  <app-crud-basic
    [length]="countQrjPublications$"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [create_update_dialog_component]="QrjPublicationDialogComponent"
    [delete_dialog_component]="DeleteQrjPublicationDialogComponent"
    [list]="qrjPublications$"
    [schema]="
      {
        header:'index',
        title:'title',
        description:'abstract'
      }"
    [loadState]="LoadQrjPublications"
    [countState]="CountQrjPublications"
  >
  </app-crud-basic>

</div>
