<div fxLayout="column" class="margin-top-5">
  <button mat-flat-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
          style="font-size: 22px !important;">სამეცნიერო-კვლევითი
    პროექტების
    Online რეგისტრაცია
  </button>
  <mat-divider></mat-divider>
  <div fxLayout="column" class="vertical-nav-list-wrapper">
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
            i18n="@@georgian_engineering_news">
      საქართველოს საინჟინრო სიახლენი (GEN)
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
            i18n="@@classifiers_international_databases_of_scientific_publications">
      სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
            i18n="@@list_of_scientific_publications_reflected_in_georgian_abstracts_journal">
      ქართულ რეფერატულ ჟურნალში ასახული სამეცნიერო გამოცემების ჩამონათვალი
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
            i18n="@@technology_transfer_centers">
      ტექნოლოგიის ტრანსფერის ცენტრები
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold"
            i18n="@@international_scientific_databases">
      საერთაშორისო სამეცნიერო ბაზები
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold">
      DOI - ციფრული ობიექტის იდენტიფიკატორი
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal margin-bottom-2 bold">
      სტუ-ს აკადემიური და სამეცნიერო პერსონალის ციტირების ინდექსი
    </button>
    <button mat-stroked-button color="primary" fxFlex="100" class="white-space-normal bold">
      FAO-ს მრავალენოვანი თეზაურუსი AGROVOC
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
