<form [formGroup]="qrjPublicationForm" *ngIf="qrjPublicationForm">
  <!--  ID-->
  <input-text
    fxShow="false"
    *ngIf="qrjPublicationForm.get('id') as qrjPublicationIDControl"
    [inputAbstractControl]="qrjPublicationIDControl"
  >
  </input-text>

  <!--  Index & Doi-URL-->
  <div fxLayout fxLayoutGap="16px">
    <input-text
      fxFlex
      placeholder="ინდექსი"
      [inputAbstractControl]="qrjPublicationForm.get('index')"
      i18n-placeholder="@@index"
    ></input-text>

    <input-text
      fxFlex
      placeholder="DOI"
      type="url"
      [inputAbstractControl]="qrjPublicationForm.get('doiUrl')"
    ></input-text>
  </div>

  <!--  OECD & Qrj Journal-->
  <div fxLayout fxLayoutGap="16px">
    <oecds-input-display-value-filter-autocomplete
      fxFlex
      [inputAbstractControl]="qrjPublicationForm.get('oecd')"
    >
    </oecds-input-display-value-filter-autocomplete>

    <qrj-journals-input-display-value-filter-autocomplete
      fxFlex
      [inputAbstractControl]="qrjPublicationForm.get('qrjJournal')"
    >
    </qrj-journals-input-display-value-filter-autocomplete>
  </div>

  <!--  Year, Number & Pages-->
  <div fxLayout fxLayoutGap="16px">
    <input-select
      fxFlex
      formCtrlName="year"
      [inputFormGroup]="qrjPublicationForm"
      [options]="numbersRange(2000, 25)"
    ></input-select>
    <input-text
      fxFlex
      [inputAbstractControl]="qrjPublicationForm.get('number')"
      placeholder="ნომერი"
    ></input-text>
    <input-text
      fxFlex
      [inputAbstractControl]="qrjPublicationForm.get('pages')"
      placeholder="გვერდები"
    ></input-text>
  </div>

  <!--  Translations of Title, Publication Author, Publications Languages & Abstract-->
  <mat-tab-group>
    <mat-tab label="ქართული">
      <!--      ID-->
      <input-text
        fxShow="false"
        *ngIf="translationFormGroupKA.get('id') as translationKAIDControl"
        [inputAbstractControl]="translationKAIDControl"
      >
      </input-text>

      <!--      Title-->
      <input-text
        [inputAbstractControl]="translationFormGroupKA.get('title')"
        placeholder="სათაური"
      ></input-text>
      <!--      Publication Author-->
      <input-text
        [inputAbstractControl]="translationFormGroupKA.get('publicationAuthor')"
        placeholder="ავტორი"
      ></input-text>
      <!--      Publications Languages-->
      <input-text
        [inputAbstractControl]="translationFormGroupKA.get('publicationLang')"
        placeholder="ენები"
      ></input-text>
      <!--      Abstract-->
      <input-text-area
        [inputAbstractControl]="translationFormGroupKA.get('abstract')"
        placeholder="რეფერატი"
      ></input-text-area>
    </mat-tab>

    <mat-tab label="English">
      <!--  ID-->
      <input-text
        fxShow="false"
        *ngIf="translationFormGroupEN.get('id') as translationENIDControl"
        [inputAbstractControl]="translationENIDControl"
      >
      </input-text>

      <!--      Title-->
      <input-text
        [inputAbstractControl]="translationFormGroupEN.get('title')"
        placeholder="Title"
      ></input-text>
      <!--      Publication Author-->
      <input-text
        [inputAbstractControl]="translationFormGroupEN.get('publicationAuthor')"
        placeholder="Author"
      ></input-text>
      <!--      Publications Languages-->
      <input-text
        [inputAbstractControl]="translationFormGroupEN.get('publicationLang')"
        placeholder="Languages"
      ></input-text>
      <!--      Abstract-->
      <input-text-area
        [inputAbstractControl]="translationFormGroupEN.get('abstract')"
        placeholder="Abstract"
      ></input-text-area>
    </mat-tab>
  </mat-tab-group>
</form>
