<div class="example-container">
  <div>
    <mat-form-field fxFlex="100">
      <input class="mtavruli" i18n-placeholder="@@first_name" matInput placeholder="სახელი">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="100">
      <input class="mtavruli" i18n-placeholder="@@last_name" matInput placeholder="გვარი">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="100">
      <input class="mtavruli" i18n-placeholder="@@email" matInput placeholder="ელ.ფოსტა" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="100">
      <mat-label i18n="@@topic">თემა</mat-label>
      <mat-select>
        <mat-option value="" i18n="@@qrj">ქრჯ</mat-option>
        <mat-option value="" i18n="@@scientific_and_business_information">სამეცნიერო და ბიზნეს ინფორმაცია</mat-option>
        <mat-option value="" i18n="@@agro_information">აგროინფორმაცია</mat-option>
        <mat-option value="" i18n="@@informational_service">საცნობარო მომსახურება</mat-option>
        <mat-option value="" i18n="@@translate">თარგმნა</mat-option>
        <mat-option value="" i18n="@@other">სხვადასხვა...</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="100">
      <textarea matInput i18n-placeholder="@@your_text" placeholder="თქვენი ტექსტი..."></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button i18n="@@send" color="primary" class="mtavruli">გაგზავნა</button>
  </div>
</div>
