<mat-form-field fxFlex="100">
  <input
    placeholder="კლასიფიკატორი (OECD)"
    aria-label="OECD"
    matInput
    [name]="name"
    [required]="required"
    [(ngModel)]="oecdModel"
    (ngModelChange)="oecdModelChange.emit(oecdModel)"
    #input="ngModel"
    [matAutocomplete]="oecdAuto"
  >

  <mat-autocomplete
      #oecdAuto="matAutocomplete"
  >
    <mat-option
      *ngFor="let oecd of filteredOecdOptions | async"
      [value]="oecd.code"
    >
      {{oecd.code}} - {{oecd.translation[0].name}}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="!input.valid && input.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

