<app-layout-container [flexWidth]="100" [ltLg]="100">

  <mat-toolbar>

    <mat-toolbar-row fxLayoutAlign="center" id="top-toolbar" class="padding-0">
      <div fxFlex="100" fxFlexAlign="center">
        <div fxFlex="50">
          <div style="height: 100%">
            <button mat-button aria-label="Expend left navigation bar" style="height: 100%"
                    (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
        <app-user-tools fxLayoutAlign="end" fxFlex="50"></app-user-tools>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayoutAlign="center" fxHide.gt-md>
      <div fxFlex="100" fxFlexAlign="center">
        <div fxFlex="100" *ngIf="hidden">
          <div fxLayoutAlign="start" fxFlex="50">
            <button mat-icon-button aria-label="Expend left navigation bar" (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div fxLayoutAlign="end" fxFlex="50">
            <button mat-mini-fab color="warn" (click)="hidden=!hidden">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <app-responsive-search fxFlex="100" [hidden]="hidden" (closeSearch)="hidden=!hidden"></app-responsive-search>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
</app-layout-container>
