<app-layout-container [flexWidth]="100">
  <app-page-title-bar title="ტექნოლოგიის ტრანსფერის ქსელები"></app-page-title-bar>
  <app-crud-basic
    [length]="countTechnologyTransferNetworks$"
    [create_update_dialog_component]="TechnologyTransferNetworkUpdateCreateDialogComponent"
    [delete_dialog_component]="TechnologyTransferNetworkDeleteDialogComponent"
    [list]="technologyTransferNetworks$"
    [schema]="
      {
        header:'title',
        nonTranslated:{title:'url',description:'text'}
      }"
    [loadState]="LoadTechnologyTransferNetworks"
    [getSingleItemState]="GetTechnologyTransferNetwork"
    [countState]="CountTechnologyTransferNetworks"
  >
  </app-crud-basic>
</app-layout-container>
