<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigat ion" mode="push">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-elevation-z3 toolbars-wrapper">
      <app-top-toolbar
        (sidenavToggle)="sidenav.toggle()"
        *ngIf="authService.isLoggedIn()"
      ></app-top-toolbar>

      <!--      <app-bottom-toolbar fxHide.lt-lg></app-bottom-toolbar>-->
    </div>

    <div class="margin-bottom-5 padding-bottom-3 main-outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<mat-sidenav-container class="sidenav-container">-->
<!--  &lt;!&ndash;  Header Sidenav&ndash;&gt;-->
<!--  <mat-sidenav #sidenav role="navigation" mode="push">-->
<!--    <header-sidenav-list></header-sidenav-list>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--    &lt;!&ndash;    <mat-progress-bar&ndash;&gt;-->
<!--    &lt;!&ndash;      mode="indeterminate"&ndash;&gt;-->
<!--    &lt;!&ndash;      *ngIf="progressBar$ | async"&ndash;&gt;-->
<!--    &lt;!&ndash;    ></mat-progress-bar>&ndash;&gt;-->

<!--    &lt;!&ndash;    <app-header class="mat-elevation-z3 toolbars-wrapper"></app-header>&ndash;&gt;-->

<!--    <div class="margin-bottom-5 padding-bottom-3 qrj-publications-navigation-outlet-wrapper">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->

<!--    <app-footer> </app-footer>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
