<app-dialog>
  <div header>ახალი სამეცნიერო მიმართულების დამატება</div>
  <div body>

    <form #myForm="ngForm" novalidate>

      <div>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="მისამართი"
          name="url"
          [(inputModel)]="technologyTransferNetworkData.url"
        ></app-input-text>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="სათაური"
          name="title"
          [(inputModel)]="technologyTransferNetworkData.title"
        ></app-input-text>

      </div>
      <div>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ტექსტი"
          name="text"
          [(inputModel)]="technologyTransferNetworkData.text"
        ></app-input-text>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="რეგიონი"
          name="region"
          [(inputModel)]="technologyTransferNetworkData.region"
        ></app-input-text>

      </div>

    </form>

  </div>
  <div footer class="margin-left-4">
    <button mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!showCreate"
            (click)="update()"
            [disabled]="!myForm.valid"
    >
      შენახვა
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            *ngIf="showCreate"
            (click)="create()"
            [disabled]="!myForm.valid"
    >
      დამატება
    </button>
  </div>
</app-dialog>
