<div class="mtavruli">
  <div><h1>პროდუქტს დასახელება</h1></div>
  <div><h3>ფასი ₾</h3></div>
  <div><p><strong>ხელმისაწვდომობა:</strong> მარაგშია</p></div>
  <div><p><strong>პროდუქტის კოდი:</strong> #EM1216</p></div>
  <div><p><strong>ტაგები:</strong> ტაგი</p></div>
  <div>
    <p>Uorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aperiam debitis ipsa veniam eos quas
      excepturi
      quae? Recusandae distinctio nihil quia quis, eaque aspernatur perferendis repudiandae adipisci labore, impedit
      beatae!</p>
  </div>
  <div>
    <ul class="padding-x-4">
      <li>აღწერა 1</li>
      <li>აღწერა 2</li>
      <li>აღწერა 3</li>
    </ul>
  </div>
  <div>
    <mat-form-field>
      <mat-label>რაოდენობა</mat-label>
      <mat-select>
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="margin-bottom-3">
    <a routerLink="./" class="color-black mtavruli">სასურველთა სიაში დამატება</a>
  </div>
  <div>
    <button mat-raised-button color="warn" class="mtavruli">კალათაში დამატება</button>
    <button mat-raised-button class="margin-x-3 mtavruli">იყიდე ახლავე</button>
  </div>
</div>
