<app-page-title-bar title="სტრუქტურა" i18n-title="@@structure"></app-page-title-bar>

<div class="content margin-top-5">
  <figure class="org-chart cf">
    <ul class="administration employee-structure">
      <li>
        <ul class="director">
          <li>
            <a class="padding-y-2">
              <span>დირექტორი</span>
            </a>
            <ul class="subdirector">
              <li>
                <a class="padding-y-3">
                  <span>სამეცნიერო საბჭო</span>
                </a>
              </li>
            </ul>
            <ul class="departments cf">
              <li>
                <a class="padding-y-3">
                  <span>დირექტორის მოადგილე</span>
                </a>
              </li>

              <li class="department dep-a">
                <a class="padding-y-3">
                  <span>ანალიზისა და საინფორმაციო რესურსების განყოფილება</span>
                </a>
              </li>
              <li class="department dep-b">
                <a class="padding-y-3">
                  <span>საინფორმაციო ტექნოლოგიების განვითარების განყოფილება</span>
                </a>
              </li>
              <li class="department dep-c">
                <a class="padding-y-3">
                  <span>ელექტრონული გამოცემებისა და საცნობარო მომსახურების ჯგუფი</span>
                </a>
              </li>
              <li class="department dep-d">
                <a class="padding-y-3">
                  <span>ტექნიკური და ტექნოლოგიური უზრუნველყოფის ჯგუფი</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </figure>
</div>
