<div fxLayoutAlign="center" class="padding-5">
  <div fxLayout="column" fxFlex="60" class="buttons-wrapper">
    <button mat-raised-button i18n="@@technology_transfer_networks" routerLink="technology_transfer_networks">
      ტექნოლოგიის ტრანსფერის ქსელები
    </button>
    <button mat-raised-button i18n="@@technology_transfer_and_innovation_organizations"
            routerLink="technology_transfer_and_innovation_organizations">ტექნოლოგიის ტრანსფერის და ინოვაციების
      ხელშემწყობი
      ორგანიზაციები
    </button>
  </div>
</div>
