<app-layout-container>
  <h2 class="text-align-center mtavruli"><strong>ძირითადი დებულებები</strong></h2>
  <strong>ქართული რეფერატული ჟურნალი (ქრჟ)</strong>
  2000 წელიდან გამოდის. ის ერთადერთი რეფერატული ჟურნალია საქართველოში, რომელიც თავს უყრის საქართველოს
  სამეცნიერო-ტექნიკური სფეროს პერიოდული
  გამოცემების, სამეცნიერო-კვლევითი და უმაღლესი სასწავლებლების შრომათა კრებულების, დეპონირებული შრომების,
  დისერტაციების
  და სამეცნიერო მონოგრაფიების რეფერატებს.
  ქრჟ პოლითემატურია. რეფერატები დალაგებულია ეკონომიკური თანამშრომლობისა და განვითარების ორგანიზაციის
  <span class="color-primary cursor-pointer" (click)="openDialog()">OECD</span>
  სამეცნიერო დარგების კლასიფიკატორის მიხედვით.
</app-layout-container>
