<app-layout-container [flexWidth]="100">
  <app-page-title-bar title="მეცნიერები/ექსპერტები"></app-page-title-bar>
  <app-crud-basic
    [length]="countExperts$"
    [create_update_dialog_component]="ExpertUpdateCreateDialogComponent"
    [delete_dialog_component]="ExpertDeleteDialogComponent"
    [list]="experts$"
    [schema]="
      {
        header:'id',
        title:'fullName',
        description:'qualification'
      }"
    [loadState]="LoadExperts"
    [getSingleItemState]="GetExpert"
    [countState]="CountExperts"
  >
  </app-crud-basic>
</app-layout-container>
