<div class="padding-5 padding-top-0">
  <div class="margin-bottom-5">
    <div fxLayoutAlign="start" fxFlex="100" fxFlexAlign="end">
      <button mat-raised-button color="primary" style="height: auto !important;" (click)="openDialogForCreation()">
        ახლის
        დამატება
      </button>
    </div>
    <div fxLayoutAlign="end" fxFlex="100">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="ძიება..." [(ngModel)]="searchText" (keyup)="search()">
        <mat-hint align="start"><strong>ჩაწერეთ საძიებო სიტყვა</strong></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>


<div class="flex-wrapper">
  <div *ngFor="let item of list | async"
       class="publication-wrapper mat-elevation-z1 padding-2 padding-bottom-5 padding-top-0 border-radius-1">
    <div>
      <div class="index-wrapper" fxLayoutAlign="start" fxFlex="100">
        <h3>{{item[schema.header] }}</h3>
      </div>
      <div fxLayoutAlign="end" fxFlex="100">
        <button mat-icon-button color="primary" fxFlexAlign="center" (click)="openDialogForUpdate(item.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" fxFlexAlign="center" (click)="openDialogForDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h4 *ngIf="schema.title!==''">
      {{item?.translation[0][schema.title]?.length > 50 ? item?.translation[0][schema.title].substr(0, 50) + '...' : item?.translation[0][schema.title]}}
    </h4>
    <p *ngIf="schema.description!==''">
      {{ item?.translation[0][schema.description].length > 100 ? item?.translation[0][schema.description].substr(0, 100) + '...' : item?.translation[0][schema.description]}}
    </p>
  </div>
</div>

<mat-paginator [length]="length | async"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[8, 20, 50, 100]"
               (page)="pageChanged($event)"
>
</mat-paginator>
