<mat-form-field fxFlex="100">
  <mat-label fxLayout="row">
    <span>{{label}}</span>
  </mat-label>
  <mat-select (ngModelChange)="inputSelectModelChange.emit($event)"
              [ngModel]="inputSelectModel"
              [required]="required"
              #input="ngModel"
              [name]="name">
    <mat-option>
      -
    </mat-option>
    <mat-option *ngFor="let listItem of list"
                [value]="listItem.key">
      {{listItem.key}} {{listItem.name}}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="!input.valid && input.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

