<button mat-mini-fab color="accent" [matMenuTriggerFor]="shoppingCartMenu">
  <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
</button>
<mat-menu #shoppingCartMenu="matMenu" class="mtavruli">
  <div id="shopping-cart-menu" class>
    <div class="shopping-cart-list-wrapper" role="list">
      <div class="shopping-cart-list-item outline-none cursor-pointer" fxLayoutGap="10px"
           routerLink="/product-details/1">
        <div class="img-wrapper" fxFlex="15" fxFlexAlign="center">
          <img src="http://embryo.theironnetwork.org/assets/images/gadgets/g-2-a.jpg" alt="">
        </div>
        <div class="text-wrapper" fxFlex="85" fxFlexAlign="center">
          <h4 mat-line><strong>{{'სათაური'}}</strong></h4>
          <p mat-line>ფასი ₾</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="shopping-cart-list-item outline-none cursor-pointer" fxLayoutGap="10px"
           routerLink="/product-details/1">
        <div class="img-wrapper" fxFlex="15" fxFlexAlign="center">
          <img src="http://embryo.theironnetwork.org/assets/images/gadgets/g-2-a.jpg" alt="">
        </div>
        <div class="text-wrapper" fxFlex="85" fxFlexAlign="center">
          <h4 mat-line><strong>{{'სათაური'}}</strong></h4>
          <p mat-line>ფასი ₾</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="shopping-cart-list-item outline-none cursor-pointer" fxLayoutGap="10px"
           routerLink="/product-details/1">
        <div class="img-wrapper" fxFlex="15" fxFlexAlign="center">
          <img src="http://embryo.theironnetwork.org/assets/images/gadgets/g-2-a.jpg" alt="">
        </div>
        <div class="text-wrapper" fxFlex="85" fxFlexAlign="center">
          <h4 mat-line><strong>{{'სათაური'}}</strong></h4>
          <p mat-line>ფასი ₾</p>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>


    <div id="checkout">
      <button mat-raised-button color="warn" fxFlex="80" fxFlexOffset="10" class="mtavruli">ყიდვა</button>
    </div>

  </div>
</mat-menu>
