<app-dialog>
  <div header>ახალი ჟურნალის დამატება</div>
  <div body>

    <form #myForm="ngForm" novalidate>

      <div class="overflow-auto publication-input-wrapper">

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ინდექსი"
          name="code"
          required="true"
          [(inputModel)]="qrjJournalData.code"
        ></app-input-text>

      </div>

      <div class="margin-top-2">
        <mat-tab-group>
          <mat-tab label="ქართული">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="სათაური"
                name="name"
                required="true"
                [inputModel]="qrjJournalData.translation[0]?.name"
                (inputModelChange)="qrjJournalData.translation[0].name=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="მისამართი"
                name="address"
                required="true"
                [inputModel]="qrjJournalData.translation[0]?.address"
                (inputModelChange)="qrjJournalData.translation[0].address=$event"
              ></app-input-text>
            </div>

          </mat-tab>

          <mat-tab label="English">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Title"
                name="nameEng"
                required="true"
                [inputModel]="qrjJournalData.translation[1]?.name"
                (inputModelChange)="qrjJournalData.translation[1].name=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Title"
                name="addressEng"
                required="true"
                [inputModel]="qrjJournalData.translation[1]?.address"
                (inputModelChange)="qrjJournalData.translation[1].address=$event"
              ></app-input-text>
            </div>


          </mat-tab>
        </mat-tab-group>

      </div>

    </form>

  </div>
  <div footer class="margin-left-4">
    <button mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!showCreate"
            (click)="update()"
            [disabled]="!myForm.valid"
    >
      შენახვა
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            *ngIf="showCreate"
            (click)="create()"
            [disabled]="!myForm.valid"
    >
      დამატება
    </button>
  </div>
</app-dialog>
