<div fxLayoutAlign="center" (window:resize)="resize()">
  <div fxFlex="80" fxFlex.lt-md="95">
    <mat-toolbar class="margin-bottom-3" fxLayoutAlign="center" style="background: transparent">
      <div fxFlexAlign="center" fxFlex="100" fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayoutAlign="start" fxFlex="50" fxFlex.lt-sm="100">
          <h2 class="mtavruli">რეიტინგული პროდუქტები</h2>
        </div>
        <div fxLayoutAlign="end" fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign.lt-sm="start">
          <a mat-button routerLink="./" class="padding-0 mtavruli">მაჩვენე ყველა</a>
        </div>
      </div>
    </mat-toolbar>
    <div fxLayoutAlign="center">
      <mat-grid-list [cols]="breakpoint" rowHeight="20:36" gutterSize="32px" fxFlex="100">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          class="mat-elevation-z1 border-radius-1 animate-3 box-shadow-h-5"
          style="background: white"
        >
          <div class="liquidation">
            <h5>{{tile.liquidation}}% ფასდაკლება</h5>
          </div>
          <div fxFlex="85" class="tile-wrapper">
            <div routerLink="/product-details/1" class="outline-none cursor-pointer">
              <img [src]="tile.img" alt="" width="100%">
            </div>
            <div>
              <h3>{{tile.title}}</h3>
            </div>
            <div>
              <h4>{{tile.category}}</h4>
            </div>
            <div>
              <h5>{{tile.price}} ₾</h5>
            </div>
            <div>
              <button mat-raised-button appSnackbar snackBarMessage="პროდუქტი ემატება კალათაში"
                      class="button-on-hover mtavruli">
                კალათაში დამატება
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
