mat-toolbar {
  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  a {
    font-size: 22px;
  }
}

.liquidation {
  position: absolute;
  top: 60px;
  background: #f44336;
  color: white;
  left: 0;
  padding: 0 10px;
  z-index: 999;
}

.tile-wrapper {
  position: relative;

  .button-on-hover {
    transition: all .3s ease-in-out;

    &:hover {
      background: #FFD600;
      //color: white;
    }
  }
}
