<div class="mtavruli">
  <h1 class="margin-0 margin-bottom-3">პერსონალური ინფორმაცია</h1>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">სახელი: </label>
    <span>ზაზა</span>
  </div>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">გვარი: </label>
    <span>ლომიძე</span>
  </div>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">სქესი: </label>
    <span>მამრობითი</span>
  </div>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">დაბათების თარიღი: </label>
    <span>იან,05,1988</span>
  </div>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">მობილური: </label>
    <span>+995 598 287 198</span>
  </div>
  <div class="margin-bottom-3">
    <label class="color-gray" for="">ადგილმდებარეობა: </label>
    <span>თბილისი</span>
  </div>
  <div>
    <button mat-raised-button color="warn" class="mtavruli">შეცვლა</button>
  </div>
</div>
