<div>
  <h1 class="mtavruli" i18n="@@forgot_password">დაგავიწყდა პაროლი?</h1>
</div>
<div fxLayoutAlign="center">
  <mat-form-field fxFlex="100" class="mtavruli">
    <input matInput placeholder="ელ.ფოსტა" required i18n-placeholder="@@enter_email">
    <!--          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
  </mat-form-field>
</div>
<div class="margin-top-3">
  <button mat-raised-button color="warn" class="padding-1 mtavruli" i18n="@@reset_password">პაროლის აღდგენა
  </button>
</div>
<div class="margin-top-4">
  <a fxFlex="100" class="text-decoration-none color-gray mtavruli" routerLink="/auth/login"
     i18n="@@already_signed_up">უკვე რეგისტრირებული
    ხარ?</a>
</div>

