.carousel {
  //box-shadow: inset 0 -4px 6px -5px;


  .slide {
    outline: none;
    overflow: hidden;
    min-height: 250px;
    background: white;
    transition: 1s all ease-in-out;

    &:not(.slick-center) {
      opacity: 0.1 !important;
    }

    h2 {
      text-align: center;

      button {
        font-size: 28px !important;
        white-space: inherit;
      }
    }

    .slide-content-wrapper {

      .slide-content {
        background: white;
        position: relative;

        .img-wrapper {
          img {
            width: 100%;
            height: 200px;
            object-fit: inherit;
          }
        }

      }
    }
  }
}
