<app-slick-carousel></app-slick-carousel>

<!--<div class="container">-->
<app-layout-container>
  <div fxLayout.lt-sm="column" class="padding-2">
    <app-news fxFlex="65" fxFlex.lt-sm="100"></app-news>
    <app-vertical-nav-list fxFlex="30" fxFlexOffset="5"></app-vertical-nav-list>
  </div>
  <mat-divider class="margin-y-5"></mat-divider>

  <div fxLayoutAlign="center">
    <div class="margin-x-2">
      <button mat-stroked-button class="padding-3 border-radius-100">
        <img src="./assets/images/content/partnership/gtu.png" alt="" width="50px">
      </button>
    </div>
    <div class="margin-x-2">
      <button mat-stroked-button class="padding-3 border-radius-100">
        <img src="./assets/images/content/partnership/mes.png" alt="" width="50px">
      </button>
    </div>
    <div class="margin-x-2">
      <button mat-stroked-button class="padding-3 border-radius-100">
        <img src="./assets/images/content/partnership/shotar.jpg" alt="" width="50px">
      </button>
    </div>
  </div>
  <!--</div>-->
</app-layout-container>


<!--<app-categories></app-categories>-->
<!--<app-deals></app-deals>-->
<!--<app-top-products></app-top-products>-->
<!--<app-subscribe-newsletter></app-subscribe-newsletter>-->
