<app-layout-container>
  <div class="padding-5" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="60" class="buttons-wrapper">
      <button mat-raised-button i18n="@@georgian_scientific_publications" routerLink="/qrjPublications">საქართველოს
        სამეცნიერო პუბლიკაციები
      </button>
      <button mat-raised-button i18n="@@research_projects" routerLink="/research_projects">სამეცნიერო-კვლევითი
        პროექტები
      </button>
      <button mat-raised-button i18n="@@scientists_experts" routerLink="/scientists_experts">მეცნიერები/ექსპერტები
      </button>
      <button mat-raised-button i18n="@@technology_transfer_centers" routerLink="/technology_transfer_centers">
        ტექნოლოგიის ტრანსფერის ცენტრები
      </button>
      <button mat-raised-button routerLink="/oecd">სამეცნიერო მიმართულება (OECD)</button>
      <button mat-raised-button i18n="@@news">სიახლეები</button>
    </div>
  </div>
</app-layout-container>
