
.bg-white {
  background-color: white !important;
}

.bg-light-gray {
  background-color: lightgray !important;
}

.bg-medium-light-gray {
  background-color: #e9ecef !important;
}

.bg-extra-light-gray {
  background-color: #f8f8f8 !important;
}

.bg-primary {
  background-color: #4577ad !important;
}
