.border-0 {
  border: none;
}

.border-1 {
  border: solid 1px;
}

.border-2 {
  border: solid 2px;
}

.border-3 {
  border: solid 3px;
}

.border-4 {
  border: solid 4px;
}

.border-5 {
  border: solid 5px;
}


.border-x-0 {
  border-left: 0 !important;
  margin-right: 0 !important;
}

.border-x-1 {
  border-left: 1px solid !important;
  margin-right: 1px !important;
}

.border-x-2 {
  border-left: 2px solid !important;
  margin-right: 2px !important;
}

.border-x-3 {
  border-left: 3px solid !important;
  margin-right: 3px !important;
}

.border-x-4 {
  border-left: 4px solid !important;
  margin-right: 4px !important;
}

.border-x-5 {
  border-left: 5px solid !important;
  margin-right: 5px !important;
}

.border-y-0 {
  border-top: 0 solid !important;
  margin-bottom: 0 !important;
}

.border-y-1 {
  border-top: 1px solid !important;
  margin-bottom: 1px !important;
}

.border-y-2 {
  border-top: 2px solid !important;
  margin-bottom: 2px !important;
}

.border-y-3 {
  border-top: 3px solid !important;
  margin-bottom: 3px !important;
}

.border-y-4 {
  border-top: 4px solid !important;
  margin-bottom: 4px !important;
}

.border-y-5 {
  border-top: 5px solid !important;
  margin-bottom: 5px !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-top-1 {
  border-top: 1px solid !important;
}

.border-top-2 {
  border-top: 2px solid !important;
}

.border-top-3 {
  border-top: 3px solid !important;
}

.border-top-4 {
  border-top: 4px solid !important;
}

.border-top-5 {
  border-top: 5px solid !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-bottom-1 {
  border-bottom: 1px solid !important;
}

.border-bottom-2 {
  border-bottom: 2px solid !important;
}

.border-bottom-3 {
  border-bottom: 3px solid !important;
}

.border-bottom-4 {
  border-bottom: 4px solid !important;
}

.border-bottom-5 {
  border-bottom: 5px solid !important;
}


.border-right-0 {
  border-right: 0 !important;
}

.border-right-1 {
  border-right: 1px solid !important;
}

.border-right-2 {
  border-right: 2px solid !important;
}

.border-right-3 {
  border-right: 3px solid !important;
}

.border-right-4 {
  border-right: 4px solid !important;
}

.border-right-5 {
  border-right: 5px solid !important;
}


.border-left-0 {
  border-left: 0 !important;
}

.border-left-1 {
  border-left: 1px solid !important;
}

.border-left-2 {
  border-left: 2px solid !important;
}

.border-left-3 {
  border-left: 3px solid !important;
}

.border-left-4 {
  border-left: 4px solid !important;
}

.border-left-5 {
  border-left: 5px solid !important;
}
