@import '../../../../node_modules/@angular/material/theming';

@include mat-core();

$my-burgundy: (
  50: #7e1c2d,
  100: #7e1c2d,
  200: #7e1c2d,
  contrast: (
    50: white,
    100: white,
    200: white,
  ),
);
$my-pink: (
  50: #6e5985,
  100: #6e5985,
  200: #6e5985,
  contrast: (
    50: white,
    100: white,
    200: white,
  ),
);

$my-blue: (
  50: #e9eff5,
  100: #c7d6e6,
  200: #a2bbd6,
  300: #7da0c6,
  400: #618bb9,
  500: #4577ad,
  600: #3e6fa6,
  700: #36649c,
  800: #2e5a93,
  900: #1f4783,
  A100: #bfd7ff,
  A200: #8cb7ff,
  A400: #5997ff,
  A700: #4087ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$candy-app-primary: mat-palette($my-blue);
$candy-app-accent: mat-palette($mat-yellow, 600);
$candy-app-warn: mat-palette($mat-red, 600);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);
