$zero: 0;
$one: 4px;
$two: 8px;
$three: 16px;
$four: 32px;
$five: 64px;

.margin-0 {
  margin: $zero !important;
}

.margin-1 {
  margin: $one !important;
}

.margin-2 {
  margin: $two !important;
}

.margin-3 {
  margin: $three !important;
}

.margin-4 {
  margin: $four !important;
}

.margin-5 {
  margin: $five !important;
}

.margin-x-0 {
  margin-left: $zero !important;
  margin-right: $zero !important;
}

.margin-x-1 {
  margin-left: $one !important;
  margin-right: $one !important;
}

.margin-x-2 {
  margin-left: $two !important;
  margin-right: $two !important;
}

.margin-x-3 {
  margin-left: $three !important;
  margin-right: $three !important;
}

.margin-x-4 {
  margin-left: $four !important;
  margin-right: $four !important;
}

.margin-x-5 {
  margin-left: $five !important;
  margin-right: $five !important;
}

.margin-y-0 {
  margin-top: $zero !important;
  margin-bottom: $zero !important;
}

.margin-y-1 {
  margin-top: $one !important;
  margin-bottom: $one !important;
}

.margin-y-2 {
  margin-top: $two !important;
  margin-bottom: $two !important;
}

.margin-y-3 {
  margin-top: $three !important;
  margin-bottom: $three !important;
}

.margin-y-4 {
  margin-top: $four !important;
  margin-bottom: $four !important;
}

.margin-y-5 {
  margin-top: $five !important;
  margin-bottom: $five !important;
}

.margin-top-0 {
  margin-top: $zero !important;
}

.margin-top-1 {
  margin-top: $one !important;
}

.margin-top-2 {
  margin-top: $two !important;
}

.margin-top-3 {
  margin-top: $three !important;
}

.margin-top-4 {
  margin-top: $four !important;
}

.margin-top-5 {
  margin-top: $five !important;
}

.margin-bottom-0 {
  margin-bottom: $zero !important;
}

.margin-bottom-1 {
  margin-bottom: $one !important;
}

.margin-bottom-2 {
  margin-bottom: $two !important;
}

.margin-bottom-3 {
  margin-bottom: $three !important;
}

.margin-bottom-4 {
  margin-bottom: $four !important;
}

.margin-bottom-5 {
  margin-bottom: $five !important;
}

.margin-right-0 {
  margin-right: $zero !important;
}

.margin-right-1 {
  margin-right: $one !important;
}

.margin-right-2 {
  margin-right: $two !important;
}

.margin-right-3 {
  margin-right: $three !important;
}

.margin-right-4 {
  margin-right: $four !important;
}

.margin-right-5 {
  margin-right: $five !important;
}

.margin-left-0 {
  margin-left: $zero !important;
}

.margin-left-1 {
  margin-left: $one !important;
}

.margin-left-2 {
  margin-left: $two !important;
}

.margin-left-3 {
  margin-left: $three !important;
}

.margin-left-4 {
  margin-left: $four !important;
}

.margin-left-5 {
  margin-left: $five !important;
}
