$zero: 0;
$one: 4px;
$two: 8px;
$three: 16px;
$four: 32px;
$five: 64px;

.padding-0 {
  padding: $zero !important;
}

.padding-1 {
  padding: $one !important;
}

.padding-2 {
  padding: $two !important;
}

.padding-3 {
  padding: $three !important;
}

.padding-4 {
  padding: $four !important;
}

.padding-5 {
  padding: $five !important;
}

.padding-x-0 {
  padding-left: $zero !important;
  padding-right: $zero !important;
}

.padding-x-1 {
  padding-left: $one !important;
  padding-right: $one !important;
}

.padding-x-2 {
  padding-left: $two !important;
  padding-right: $two !important;
}

.padding-x-3 {
  padding-left: $three !important;
  padding-right: $three !important;
}

.padding-x-4 {
  padding-left: $four !important;
  padding-right: $four !important;
}

.padding-x-5 {
  padding-left: $five;
  padding-right: $five;
}

.padding-y-0 {
  padding-top: $zero !important;
  padding-bottom: $zero !important;
}

.padding-y-1 {
  padding-top: $one !important;
  padding-bottom: $one !important;
}

.padding-y-2 {
  padding-top: $two !important;
  padding-bottom: $two !important;
}

.padding-y-3 {
  padding-top: $three !important;
  padding-bottom: $three !important;
}

.padding-y-4 {
  padding-top: $four !important;
  padding-bottom: $four !important;
}

.padding-y-5 {
  padding-top: $five !important;
  padding-bottom: $five !important;
}

.padding-top-0 {
  padding-top: $zero !important;
}

.padding-top-1 {
  padding-top: $one !important;
}

.padding-top-2 {
  padding-top: $two !important;
}

.padding-top-3 {
  padding-top: $three !important;
}

.padding-top-4 {
  padding-top: $four !important;
}

.padding-top-5 {
  padding-top: $five !important;
}

.padding-bottom-0 {
  padding-bottom: $zero !important;
}

.padding-bottom-1 {
  padding-bottom: $one !important;
}

.padding-bottom-2 {
  padding-bottom: $two !important;
}

.padding-bottom-3 {
  padding-bottom: $three !important;
}

.padding-bottom-4 {
  padding-bottom: $four !important;
}

.padding-bottom-5 {
  padding-bottom: $five !important;
}

.padding-right-0 {
  padding-right: $zero !important;
}

.padding-right-1 {
  padding-right: $one !important;
}

.padding-right-2 {
  padding-right: $two !important;
}

.padding-right-3 {
  padding-right: $three !important;
}

.padding-right-4 {
  padding-right: $four !important;
}

.padding-right-5 {
  padding-right: $five !important;
}

.padding-left-0 {
  padding-left: $zero !important;
}

.padding-left-1 {
  padding-left: $one !important;
}

.padding-left-2 {
  padding-left: $two !important;
}

.padding-left-3 {
  padding-left: $three !important;
}

.padding-left-4 {
  padding-left: $four !important;
}

.padding-left-5 {
  padding-left: $five !important;
}
