/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: acadmtavr;
  src: url(../fonts/acadmtavr.ttf);
}

@font-face {
  font-family: bpg_glaho;
  src: url(../fonts/bpg_glaho.ttf);
}

@font-face {
  font-family: mtavruli;
  src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}

@import 'border-radius';
@import 'margin';
@import 'padding';
@import 'shadow';
@import 'animate';
@import 'background';
@import 'overflow';
@import 'text-decoration';
@import 'color';
@import 'font';
@import 'outline';
@import 'cursor';
@import 'snackbar';
@import 'text-align';
@import 'list';
@import 'dimension';
@import 'button';

body {
  margin: 0;
}

button {
  font-family: mtavruli, serif !important;
}
