<app-dialog>
  <div header>ახალი ჟურნალის დამატება</div>
  <div body>

    <form #myForm="ngForm" novalidate>

      <div class="overflow-auto publication-input-wrapper">

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ინდექსი"
          name="index"
          required="true"
          [(inputModel)]="publicationData.index"
        ></app-input-text>

        <app-input-auto-complete
          listName="oecds"
          fxFlex="50"
          class="margin-left-2"
          name="oecd"
          required="true"
          placeholder="კლასიფიკატორი (OECD)"
          [inputModel]="publicationData.oecd"
          (inputModelChange)="publicationData.oecd=$event"
          [list]="oecdList"
        >

        </app-input-auto-complete>

      </div>

      <div>
        <app-input-auto-complete
          listName="qrjJournals"
          fxFlex="50"
          class="margin-right-2"
          name="oecd"
          required="true"
          placeholder="ჟურნალის დასახელება"
          [inputModel]="publicationData.journal"
          (inputModelChange)="publicationData.journal=$event"
          [list]="qrjJournalList"
        >
        </app-input-auto-complete>

        <app-input-select
          fxFlex="50"
          class="margin-left-2"
          label="წელი"
          [array]="arrayThree(25, 2000)"
          name="year"
          required="true"
          [inputSelectModel]="publicationData.year"
          (inputSelectModelChange)="publicationData.year=$event"
        >
        </app-input-select>

      </div>

      <div>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ნომერი"
          name="number"
          required="true"
          [(inputModel)]="publicationData.number"
        ></app-input-text>

        <app-input-text
          fxFlex="50"
          class="margin-left-2"
          placeholder="გვერდები"
          name="pages"
          required="true"
          [(inputModel)]="publicationData.pages"
        ></app-input-text>

      </div>

      <div class="margin-top-2">
        <mat-tab-group>
          <mat-tab label="ქართული">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="სათაური"
                name="title"
                required="true"
                [inputModel]="publicationData.translation[0]?.title"
                (inputModelChange)="publicationData.translation[0].title=$event"
              ></app-input-text>

            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="ავტორი"
                name="publicationAuthor"
                required="true"
                [inputModel]="publicationData.translation[0]?.publicationAuthor"
                (inputModelChange)="publicationData.translation[0].publicationAuthor=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="ენები"
                name="publicationLang"
                required="true"
                [inputModel]="publicationData.translation[0]?.publicationLang"
                (inputModelChange)="publicationData.translation[0].publicationLang=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text-area
                fxFlex="100"
                placeholder="რეფერატი"
                name="abstract"
                required="true"
                [inputTextAreaModel]="publicationData.translation[0]?.abstract"
                (inputTextAreaModelChange)="publicationData.translation[0].abstract=$event"
              ></app-input-text-area>
            </div>

          </mat-tab>

          <mat-tab label="English">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Title"
                name="titleEng"
                required="true"
                [inputModel]="publicationData.translation[1]?.title"
                (inputModelChange)="publicationData.translation[1].title=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Author"
                name="publicationAuthorEng"
                required="true"
                [inputModel]="publicationData.translation[1]?.publicationAuthor"
                (inputModelChange)="publicationData.translation[1].publicationAuthor=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Languages"
                name="publicationLangEng"
                required="true"
                [inputModel]="publicationData.translation[1]?.publicationLang"
                (inputModelChange)="publicationData.translation[1].publicationLang=$event"
              ></app-input-text>
            </div>

            <div>
              <app-input-text-area
                fxFlex="100"
                placeholder="Abstract"
                name="abstractEng"
                required="true"
                [inputTextAreaModel]="publicationData.translation[1]?.abstract"
                (inputTextAreaModelChange)="publicationData.translation[1].abstract=$event"
              ></app-input-text-area>
            </div>

          </mat-tab>
        </mat-tab-group>

      </div>

    </form>

  </div>
  <div footer class="margin-left-4">
    <button mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!showCreate"
            (click)="update()"
            [disabled]="!myForm.valid"
    >
      შენახვა
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            *ngIf="showCreate"
            (click)="create()"
            [disabled]="!myForm.valid"
    >
      დამატება
    </button>
  </div>
</app-dialog>
