<div fxLayoutAlign="center" class="categories-wrapper margin-y-3 margin-x-2" (window:resize)="resize()">
  <div fxFlex="80" fxFlex.lt-md="100" class="margin-bottom-3">
    <mat-grid-list [cols]="breakpoint" rowHeight="2:1" gutterSize="30px">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        class="mat-elevation-z1 border-radius-2 animate-3 box-shadow-h-5 bg-extra-light-gray">
        <h2 class="mtavruli">{{tile.text}}</h2>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
