<app-dialog>
  <div header>ახალი ჟურნალის დამატება</div>
  <div body>
    <div class="overflow-auto publication-input-wrapper">
      <div>
        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ინდექსი"
          [(inputModel)]="publicationData.index"
          hintText="ჩაწერეთ ინდექსი"
        ></app-input-text>

        <app-oecd-auto-complete-input
          fxFlex="50"
          class="margin-left-2"
          [oecdModel]="publicationData.oecd?.code"
          (oecdModelChange)="publicationData.oecd.code=$event"
        >
        </app-oecd-auto-complete-input>

      </div>

      <div>

        <app-qrj-journal-auto-complete-input
          fxFlex="50"
          class="margin-right-2"
          [qrjJournalModel]="publicationData.journal?.code"
          (qrjJournalModelChange)="publicationData.journal.code=$event"
        >
        </app-qrj-journal-auto-complete-input>

        <app-input-select
          fxFlex="50"
          class="margin-left-2"
          label="წელი"
          [(valueModel)]="publicationData.year"
          [array]="arrayThree(25, 2000)"
        >
        </app-input-select>

      </div>

      <div>

        <app-input-text
          fxFlex="50"
          class="margin-right-2"
          placeholder="ნომერი"
          [(inputModel)]="publicationData.number"
          hintText="ჩაწერეთ ნომერი"
        ></app-input-text>

        <app-input-text
          fxFlex="50"
          class="margin-left-2"
          placeholder="გვერდები"
          [(inputModel)]="publicationData.pages"
          hintText="ჩაწერეთ გვერდები"
        ></app-input-text>

      </div>

      <div class="margin-top-2">
        <mat-tab-group>
          <mat-tab label="ქართული">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="სათაური"
                [(inputModel)]="publicationData.translation[0].title"
                hintText="ჩაწერეთ სათაური"
              ></app-input-text>

            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="ავტორი"
                [(inputModel)]="publicationData.translation[0].publicationAuthor"
                hintText="ჩაწერეთ ავტორი"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="ენები"
                [(inputModel)]="publicationData.translation[0].publicationLang"
                hintText="ჩაწერეთ ენები"
              ></app-input-text>
            </div>

            <div>
              <app-input-text-area
                fxFlex="100"
                placeholder="რეფერატი"
                [(inputModel)]="publicationData.translation[0].abstract"
                hintText="სიმაღლე ავტომატურად გაიზრდება"
              ></app-input-text-area>
            </div>

          </mat-tab>

          <mat-tab label="English">

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Title"
                [(inputModel)]="publicationData.translation[1].title"
                hintText="Enter Title"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Author"
                [(inputModel)]="publicationData.translation[1].publicationAuthor"
                hintText="Enter Author"
              ></app-input-text>
            </div>

            <div>
              <app-input-text
                fxFlex="100"
                placeholder="Languages"
                [(inputModel)]="publicationData.translation[1].publicationLang"
                hintText="Enter Languages"
              ></app-input-text>
            </div>

            <div>
              <app-input-text-area
                fxFlex="100"
                placeholder="Abstract"
                [(inputModel)]="publicationData.translation[1].abstract"
                hintText="Auto resizable"
              ></app-input-text-area>
            </div>

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
  <div footer class="margin-left-4">
    <button mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!showCreate"
            (click)="update()"
    >
      შენახვა
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            *ngIf="showCreate"
            (click)="create()"
    >
      დამატება
    </button>
  </div>
</app-dialog>
