<app-layout-container [flexWidth]="100">
  <app-page-title-bar title="სამეცნიერო-კვლევითი პროექტები"></app-page-title-bar>
  <app-crud-basic
    [length]="countResearchProjects$"
    [create_update_dialog_component]="ResearchProjectUpdateCreateDialogComponent"
    [delete_dialog_component]="ResearchProjectDeleteDialogComponent"
    [list]="researchProjects$"
    [schema]="
      {
        header:'id',
        nested:{title:'title',name:'translation'}
      }"
    [loadState]="LoadResearchProjects"
    [getSingleItemState]="GetResearchProject"
    [countState]="CountResearchProjects"
  >
  </app-crud-basic>
</app-layout-container>
